html {
    scroll-behavior: smooth;
}

body {
    background-color: #1D3E53;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #1D3E53;
    position: fixed;
    top: 0;
}

#nav-list {
    transition: display 1.0s ease-in-out;
}

.nav-list>li {
    padding: 10px 0;
}

.nav-list li:not(:last-child) a:hover{
    text-decoration: underline;
}

#burgerBtn, #burgerXBtn {
    cursor: pointer;
}

.nama {
    font-family: 'Bree Serif', serif;
}

.foto {
    border: 6px solid #77ABB7;
    border-radius: 10px;
    padding: 6px;
}

.btn {
    background-color: #476D7C;
    background: linear-gradient(to right, #77ABB7, #476D7C);
    padding: 5px 20px;
    border-radius: 10px;
}

.btn:hover {
    background: linear-gradient(to right, #8cc9d6, #5c8da0);
}

.read-more:hover {
    color: #ffffff;
}

.experience-lists li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    letter-spacing: 1.5px;
}

#contact {
    color: white;
    background: #76B7D0 linear-gradient(to right, #206681, #77ABB7);
    border-radius: 50px 50px 0 0;
}

.logo-footer, .social-media li {
    background-color: #254B62;
    padding: 15px;
    font-size: 25px;
    border-radius: 15px;
}

.list-footer li span {
    margin-left: 20px;
}

.form-footer {
    background: #476D7C linear-gradient(to right bottom, #77ABB7, #206681);
    padding: 30px 20px;
    border-radius: 20px;
}

.form-message>button {
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #254B62;
    color: white;
}

.form-message>button:hover {
    background-color: #2f5f7d;
}

.form-message {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-message input {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    background-color: #254B62;
}

.form-message input::placeholder, .form-message textarea::placeholder {
    color: white;
}

.form-message textarea {
    background-color: #254B62;
    border-radius: 10px;
    border: none;
    padding: 10px 20px 0;
}

@media screen and (max-width:639px) {
    .foto {
        width: 50%;
    }
}

@media screen and (min-width:640px) {
    .foto {
        width: 50%;
    }
    
    .experience-lists li img {
        width: 100px;
    }

    .experience-lists li p {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) {
    .foto {
        width: 300px;
    }

    .project-explanation h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .project-explanation h3 {
        font-size: 18px;
    }

    .project-explanation p, .project-explanation a {
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) {
    .nav-list {
        font-size: 18px;
    }
    
    .foto {
        width: 450px;
    }

    .project-item {
        margin: 40px 100px 40px;
    }

    .project-item>img {
        max-width: 500px;
    }

    .project-explanation h2 {
        font-size: 30px;
        line-height: 2rem;
    }

    .project-explanation h3 {
        font-size: 25px;
    }

    .project-explanation p, .project-explanation a {
        font-size: 20px;
    }

    .view-all {
        width: 160px;
        height: 60px;
        font-size: 20px;
    }

    #contact {
        padding: 100px 100px 40px;
        border-radius: 100px 100px 0 0;
    }
    
    .form-footer, .text-footer {
        flex: 1;
    }

    .form-footer {
        max-width: 500px;
    }

    .sub-title {
        font-size: 30px !important;
    }
}